<div class="main-content">
    <h2 class="content-heading">Add Games</h2>

    <div class="search-container">
      <form {{action "search" on="submit"}} method="post">
        <button class="fa fa-search search-button"></button>
        {{input class="fa search-bar" value=searchBar placeholder="Search games"}}
      </form>
    </div>


      <ul class="results">

        {{#each result in searchResults}}
        <li class="result">
          <img class="result-image" {{bind-attr src=result.thumbnail.[0]}}>

          <div class="result-text">
            <h3 class="result-title">{{result.name.[0].value}}</h3>
            <p class="result-description">{{{result.description.[0]}}}</p>
          </div>
          <button class="add-game-button" {{action "addGame" result on="click"}}>add game</button>
          </li>
        {{/each}}
      </ul>

  </div>


{{outlet}}
