  <div class="main-content">


    <h2 class="content-heading">{{model.name.[0].value}}</h2>

    <div class="game-details-container">

      <div class="game-details-left">
        <img class="game-details-image" {{bind-attr src=model.image.[0]}}>
        <button class="remove-game" {{action "destroy" on="click"}}>remove from bookshelf</button>
      </div>

      <div class="game-info">
        <span class="player-count">Players: {{model.minplayers.[0].value}} - {{model.maxplayers.[0].value}}</span>
        <br>
        <span class="play-time">Play time: {{model.playingtime.[0].value}}min</span>
        <h4>Description:</h4>
        <p class="game-description">{{{model.description.[0]}}}</p>
        <h4>My Notes:</h4>

        {{#if isEditing}}
          {{textarea placeholder="Notes" class="user-notes js-user-notes" value=model.userNotes}}
        {{else}}
          <p>{{model.userNotes}}</p>
        {{/if}}

        <button class="edit-notes notes-buttons" {{action "edit" on="click"}}>edit notes</button>
        <button class="save-notes notes-buttons" {{action "save" on="click"}}>save</button>
      </div>

    </div>


  </div>





{{outlet}}
