  <div class="main-content">


    <h2 class="content-heading">{{model.name.[0].value}}</h2>

    <div class="game-details-container">

      <div class="game-details-left">
        <img class="game-details-image" {{bind-attr src=model.image.[0]}}>
        <button class="remove-game" {{action "destroy" on="click"}}>remove from bookshelf</button>
      </div>

      <div class="game-info">
        <span class="player-count">Players: {{model.minplayers.[0].value}} - {{model.maxplayers.[0].value}}</span>
        <br>
        <span class="play-time">Play time: {{model.playingtime.[0].value}}min</span>
        <p class="game-description">{{{model.description.[0]}}}</p>
        <<button class="edit-notes">Edit</button><textarea placeholder="Notes" cols="60" rows="3" class="user-notes"></textarea>
      </div>

    </div>


  </div>



{{outlet}}
